<ion-card>
    <ion-fab-button (click)="closeModal()">
        <ion-icon name="close-outline"></ion-icon>
    </ion-fab-button>
    <img [src]="pizza.photo" />
    <ion-card-header>
        <div>
            <ion-card-subtitle class=" pizzasName"> {{ pizza.nom }}</ion-card-subtitle>
            <ion-card-title> {{ pizza.prix }} €</ion-card-title>
        </div>

        <ion-list>
            <ion-card-subtitle>Ingrédients</ion-card-subtitle>
            <ion-item *ngFor="let ingredient of pizza.ingredients">
                <ion-label>{{ ingredient }}</ion-label>
            </ion-item>
        </ion-list>

        <div class="add-pizza">
            <ion-label>{{ pizzaQty }}</ion-label>
            <ion-button (click)="addPizza()" fill="outline">Add</ion-button>
        </div>
    </ion-card-header>

    <!-- <app-modal-page></app-modal-page> -->
</ion-card>