<ion-card>
    <ion-fab-button (click)="closeModal()">
        <ion-icon name="close-outline"></ion-icon>
    </ion-fab-button>
    <img [src]="pizza.photo" />
    <ion-card-header>
        <div>
            <ion-card-subtitle class=" pizzasName"> {{ pizza.nom }}</ion-card-subtitle>
            <ion-card-title> {{ pizza.prix }} €</ion-card-title>
        </div>

        <ion-list>
            <ion-card-subtitle>Ingrédients</ion-card-subtitle>
            <ion-item *ngFor="let ingredient of pizza.ingredients">
                <ion-label>{{ ingredient }}</ion-label>
            </ion-item>
        </ion-list>

        <ion-card-content>
            <ion-row class="ion-align-items-center">
                <ion-col size="4" class="ion-text-right">
                    <ion-button color="primary" fill="solid" (click)="addToCart(pizza)">
                        Ajouter au panier
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card-header>

    <!-- <app-modal-page></app-modal-page> -->
</ion-card>