<ion-header class="header" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
  <ion-fab-button (click)="presentModal()" class=" cart_button">
    <ion-badge color="primary">11</ion-badge>
    <ion-icon name="cart-outline"></ion-icon>
  </ion-fab-button>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <app-pizza-card *ngFor="let item of pizzas" [pizza]="item" [showPizzaId]="pizzaId">{{ pizza ? pizza : '-' }}
    </app-pizza-card>
    <ng-template #errorContent>
      <p><span style="color: red;">{{error}}</span></p>
    </ng-template>
  </div>
</ion-content>