<ion-header class="header" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" class="pizza_container">
    <h1>Pizza</h1>

    <div>
      <ion-button [routerLink]="'/add-form/new'">
        ajouter une pizza
      </ion-button>
    </div>

    <div *ngFor="let pizza of pizzas">
      <ion-item>
        <ion-label>
          {{ pizza.nom }}
          <div>
            <ion-button [routerLink]="'/add-form/' + pizza.id">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="presentModal(pizza)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-label>
      </ion-item>
    </div>
    <ng-template #errorContent>
      <p><span style="color: red;">{{error}}</span></p>
    </ng-template>
  </div>

  <div id="container" class="ingredient_container">
    <h1>Ingredients</h1>

    <div>
      <form action="" (ngSubmit)="addIngredient()">
        <ion-item>
          <ion-label position="floating">Ajouter un ingrédient</ion-label>
          <ion-input id="ingredient" name="ingredient" [(ngModel)]="newIngredient.nom" placeholder="concombre">
          </ion-input>
        </ion-item>
        <ion-button type="submit">
          <ion-icon name="checkmark-outline"></ion-icon>
        </ion-button>
      </form>
    </div>

    <div *ngFor="let ingredient of ingredients">
      <ion-item>
        <ion-label>
          {{ ingredient.nom }}
          <div>
            <ion-button>
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="presentModal(ingredient, true)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-label>
      </ion-item>
    </div>
    <ng-template #errorContent>
      <p><span style="color: red;">{{error}}</span></p>
    </ng-template>
  </div>
</ion-content>