<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="buttonText" [icon]="buttonIcon">
      </ion-back-button>
    </ion-buttons>

    <ion-title>Ajouter une pizza</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="save()" *ngIf="pizza">
    <ion-item>
      <ion-label position="floating">Nom</ion-label>
      <ion-input [(ngModel)]="pizza.nom" name="nom"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Photo</ion-label>
      <ion-input [(ngModel)]="pizza.photo" name="photo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Prix</ion-label>
      <ion-input [(ngModel)]="pizza.prix" name="prix" type="number"></ion-input>
    </ion-item>

    <ion-list *ngIf="pizza">
      <!-- <ion-item>
        <ion-label class="title">Ingrédients actuels</ion-label>
      </ion-item>
      <ion-item class="ingredients" *ngFor="let ingredientPizza of pizza.ingredients">
        <ion-label>{{ ingredientPizza }}</ion-label>
        <ion-checkbox checked="true" name="ingredient" slot="end">
        </ion-checkbox>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-label class="title">Ingrédients disponibles</ion-label>
      </ion-item>
      <ion-item class="ingredients" *ngFor="let item of ingredientsWrapper">
        <ion-label>{{ item.ingredient.nom }}</ion-label>
        <ion-checkbox name="ingredient" slot="end" [(ngModel)]="item.isChecked"></ion-checkbox>
      </ion-item> -->
      <ion-item>
        <ion-label class="title">Ingrédients</ion-label>
      </ion-item>
      <ion-item class="ingredients" *ngFor="let item of ingredientsWrapper">
        <ion-label>{{ item.ingredient.nom }}</ion-label>
        <ion-checkbox [name]="'ingredient_' + item.ingredient.id" slot="end" [(ngModel)]="item.isChecked">
        </ion-checkbox>
      </ion-item>
    </ion-list>

    <ion-button color="primary" slot="end" type="submit">
      Valider
    </ion-button>
  </form>
</ion-content>