<ion-card>
    <div class="add-pizza">
        <ion-label>{{ pizzaQty }}</ion-label>
        <ion-button (click)="addPizza()" fill="outline">Add</ion-button>
    </div>

    <div (click)="presentModal()">
        <img src="../../assets/img/pizzas/pizzas.jpg" />
        <ion-card-header>
            <div>
                <ion-card-subtitle class="pizzasName">Pizza's name</ion-card-subtitle>
                <ion-card-title>15€</ion-card-title>
            </div>
        </ion-card-header>
        <ion-card-content>
            Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
            Wisconsin Territory in 1836.
        </ion-card-content>
    </div>
    <!-- <app-modal-page></app-modal-page> -->
</ion-card>