<ion-card>
    <ion-card-content>
        <ion-row class="ion-align-items-center">
            <ion-col size="4" class="ion-text-right">
                <ion-button color="primary" fill="solid" (click)="addToCart(pizza)">
                    Ajouter au panier
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-card-content>

    <div (click)="presentModal()">
        <img [src]="pizza.photo" />
        <ion-card-header>
            <div>
                <ion-card-subtitle class="pizzasName">{{ pizza.nom }}</ion-card-subtitle>
                <ion-card-title>{{ pizza.prix }} €</ion-card-title>
            </div>
        </ion-card-header>
    </div>
    <!-- <app-modal-page></app-modal-page> -->
</ion-card>